<%-include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="page-header">
    <h1 class="text-center">Your Groups</h1>
  </div>
 <div class="list-group">
     <% for(let i = 0; i < group.length; i++){ %>
         <h3 class="text-center"><%=group[i].title; %></h3>
           <p class="text-center"><a href="/group/<%=group[i].id; %>" href="#" class="list-group-item"><img class= "indexImg" src="<%=group[i].img; %>" alt="Group's Image" width="320" height="180"></a><br>
     <% } %>
</div>

<%-include('../partials/footer.ejs') %>
