<%-include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="container">
<h1 class="indexTitle">Group Index Page</h1>
 <ul class="indexUl">
     <% for(let i = 0; i < group.length; i++){ %>
       <div class="indexContainer">
       <li>
         <h3 class='playlistTitle'><%=group[i].title; %></h3>
           <a href="/group/<%=group[i].id; %>"><img class= "indexImg" src="<%=group[i].img; %>" alt="Group's Image" width="320" height="180"></a><br>
         </li>
         </div>
     <% } %>

</ul>

<%-include('../partials/footer.ejs') %>
</div>
