<%-include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="page-header">
<h1 class="text-center"><%=group.members[memberId]%></h1>
</div>
    <table class="table table-bordered">
      <tr>
        <th bgcolor="#57b3ff"><%=group.members[memberId]; %>'s Schedule</th>
        <th bgcolor="#57b3ff">Sunday</th>
        <th bgcolor="#57b3ff">Monday</th>
        <th bgcolor="#57b3ff">Tuesday</th>
        <th bgcolor="#57b3ff">Wednesday</th>
        <th bgcolor="#57b3ff">Thursday</th>
        <th bgcolor="#57b3ff">Friday</th>
        <th bgcolor="#57b3ff">Saturday</th>
      </tr>
      <tr>
        <th bgcolor="#57b3ff">Availability</th>
        <% if(group.sunday[memberId] == true) { %>
           <th bgcolor="#42f548">Avaliable</th>
        <%  } else { %>
           <th bgcolor="#ff5757">Not avaliable</th>
         <% } %>
         <% if(group.monday[memberId] == true) { %>
           <th bgcolor="#42f548">Avaliable</th>
        <%  } else { %>
           <th bgcolor="#ff5757">Not avaliable</th>
         <% } %>
          <% if(group.tuesday[memberId] == true) { %>
            <th bgcolor="#42f548">Avaliable</th>
         <%  } else { %>
            <th bgcolor="#ff5757">Not avaliable</th>
          <% } %>
           <% if(group.wednesday[memberId] == true) { %>
             <th bgcolor="#42f548">Avaliable</th>
          <%  } else { %>
             <th bgcolor="#ff5757">Not avaliable</th>
           <% } %>
            <% if(group.thursday[memberId] == true) { %>
              <th bgcolor="#42f548">Avaliable</th>
           <%  } else { %>
              <th bgcolor="#ff5757">Not avaliable</th>
            <% } %>
             <% if(group.friday[memberId] == true) { %>
               <th bgcolor="#42f548">Avaliable</th>
            <%  } else { %>
               <th bgcolor="#ff5757">Not avaliable</th>
             <% } %>
              <% if(group.saturday[memberId] == true) { %>
                <th bgcolor="#42f548">Avaliable</th>
             <%  } else { %>
                <th bgcolor="#ff5757">Not avaliable</th>
              <% } %>
      </tr>
    </table>

            <p class="text-center"><a href="/group/<%=group.id%>/members"><button class="btn btn-info">Back To Group</button></a></p>
      <% if(currentUser.username == group.members[memberId] ) { %>
        <p class="text-center"><a href="/group/<%=group.id%>/members/<%= memberId %>/edit "><button class="btn btn-info" >Edit Member</button></a></p>
      <%  } else if(currentUser._id == group.userId){ %>
        <p class="text-center"><a href="/group/<%=group.id%>/members/<%= memberId %>/edit "><button class="btn btn-info" >Edit Member</button></a></p>
       <% } %>





<%-include('../partials/footer.ejs') %>
