<%-include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="playlistShowContainer">
        <h1> <%=group.title; %> </h1>

        <img class="groupShowImg" src="<%=group.img; %>" alt="<%=group.title %>" width="640" height="360">
        <h3> Description: <%=group.description; %> </h3>
        <h3><a href="/group/<%=group.id;%>/members">Members</a></h3>
        <p><a href="/group/<%=group.id;%>/edit "><button class="btnBackground">Edit group</button></a></p>
            <form action="/group/<%=group.id; %>?_method=DELETE" method="POST">
              <form>
                <input class="btnBackground" type="submit" value="Delete group"/>
              </form>
<%-include('../partials/footer.ejs') %>
</div>
