<%-include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="page-header">
        <h1 class="text-center"> <%=group.title; %> </h1>
        <div class="thumbnail">
          <img src="<%=group.img; %>" alt="<%=group.title %>" width="640" height="360">
        </div>
        <h3 class="text-center"> Description: <%=group.description; %> </h3>
        <h3 class="text-center"> Time: <%=group.startTime; %> - <%=group.endTime; %></h3>
        <h3 class="text-center"><a href="/group/<%=group.id;%>/members">Members</a></h3>

        <table class="table table-bordered">
          <tr>
            <th bgcolor="#57b3ff" class="text-center"><%=group.title; %>'s Schedule</th>
            <th bgcolor="#57b3ff" class="text-center">Sunday</th>
            <th bgcolor="#57b3ff" class="text-center">Monday</th>
            <th bgcolor="#57b3ff" class="text-center">Tuesday</th>
            <th bgcolor="#57b3ff" class="text-center">Wednesday</th>
            <th bgcolor="#57b3ff" class="text-center">Thursday</th>
            <th bgcolor="#57b3ff" class="text-center">Friday</th>
            <th bgcolor="#57b3ff" class="text-center">Saturday</th>
          </tr>
          <tr>
            <th bgcolor="#57b3ff" class="text-center">Availability</th>
            <% let sundayTrue = 0 %>
            <% let sundayFalse = 0 %>
            <% for(let i = 0; i < group.members.length; i++){ %>
            <% if(group.sunday[i] == true) { %>
              <% sundayTrue ++  %>
                <% } else if(group.sunday[i] == false) { %>
                  <% sundayFalse ++ %>
              <% } %>
            <% } %>
            <% if(sundayTrue == group.maxMembers) { %>
              <th bgcolor="#D4AF37" class="text-center">Max Avaliable</th>
                <% } else if(sundayTrue >= group.minMembers){ %>
                  <th bgcolor="#42f548" class="text-center">Avaliable</th>
              <% } else { %>
                  <th bgcolor="#ff5757" class="text-center">Not avaliable</th>
              <% } %>
                <% let mondayTrue = 0 %>
                <% let mondayFalse = 0 %>
                <% for(let i = 0; i <= group.members.length; i++){ %>
                <% if(group.monday[i] == true) { %>
                  <% mondayTrue ++  %>
                    <% } else if(group.monday[i] == false) { %>
                      <% mondayFalse ++ %>
                  <% } %>
                <% } %>
                <% if(mondayTrue == group.maxMembers) { %>
                  <th bgcolor="#D4AF37" class="text-center">Max Avaliable</th>
                    <% } else if(mondayTrue >= group.minMembers){ %>
                      <th bgcolor="#42f548" class="text-center">Avaliable</th>
                  <% } else { %>
                      <th bgcolor="#ff5757" class="text-center">Not avaliable</th>
                  <% } %>
                    <% let tuesdayTrue = 0 %>
                    <% let tuesdayFalse = 0 %>
                    <% for(let i = 0; i < group.members.length; i++){ %>
                    <% if(group.tuesday[i] == true) { %>
                      <% tuesdayTrue ++  %>
                        <% } else if(group.tuesday[i] == false) { %>
                          <% tuesdayFalse ++ %>
                      <% } %>
                    <% } %>
                    <% if(tuesdayTrue == group.maxMembers) { %>
                      <th bgcolor="#D4AF37" class="text-center">Max Avaliable</th>
                        <% } else if(tuesdayTrue >= group.minMembers){ %>
                          <th bgcolor="#42f548" class="text-center">Avaliable</th>
                      <% } else { %>
                          <th bgcolor="#ff5757" class="text-center">Not avaliable</th>
                      <% } %>
                        <% let wednesdayTrue = 0 %>
                        <% let wednesdayFalse = 0 %>
                        <% for(let i = 0; i < group.members.length; i++){ %>
                        <% if(group.wednesday[i] == true) { %>
                          <% wednesdayTrue ++  %>
                            <% } else if(group.wednesday[i] == false) { %>
                              <% wednesdayFalse ++ %>
                          <% } %>
                        <% } %>
                        <% if(wednesdayTrue == group.maxMembers) { %>
                          <th bgcolor="#D4AF37" class="text-center">Max Avaliable</th>
                            <% } else if(wednesdayTrue >= group.minMembers){ %>
                              <th bgcolor="#42f548" class="text-center">Avaliable</th>
                          <% } else { %>
                              <th bgcolor="#ff5757" class="text-center">Not avaliable</th>
                          <% } %>
                            <% let thursdayTrue = 0 %>
                            <% let thursdayFalse = 0 %>
                            <% for(let i = 0; i < group.members.length; i++){ %>
                            <% if(group.thursday[i] == true) { %>
                              <% thursdayTrue ++  %>
                                <% } else if(group.thursday[i] == false) { %>
                                  <% thursdayFalse ++ %>
                              <% } %>
                            <% } %>
                            <% if(thursdayTrue == group.maxMembers) { %>
                              <th bgcolor="#D4AF37" class="text-center">Max Avaliable</th>
                                <% } else if(thursdayTrue >= group.minMembers){ %>
                                  <th bgcolor="#42f548" class="text-center">Avaliable</th>
                              <% } else { %>
                                  <th bgcolor="#ff5757" class="text-center">Not avaliable</th>
                              <% } %>
                                <% let fridayTrue = 0 %>
                                <% let fridayFalse = 0 %>
                                <% for(let i = 0; i < group.members.length; i++){ %>
                                <% if(group.friday[i] == true) { %>
                                  <% fridayTrue ++  %>
                                    <% } else if(group.friday[i] == false) { %>
                                      <% fridayFalse ++ %>
                                  <% } %>
                                <% } %>
                                <% if(fridayTrue == group.maxMembers) { %>
                                  <th bgcolor="#D4AF37" class="text-center">Max Avaliable</th>
                                    <% } else if(fridayTrue >= group.minMembers){ %>
                                      <th bgcolor="#42f548" class="text-center">Avaliable</th>
                                  <% } else { %>
                                      <th bgcolor="#ff5757" class="text-center">Not avaliable</th>
                                  <% } %>
                                    <% let saturdayTrue = 0 %>
                                    <% let saturdayFalse = 0 %>
                                    <% for(let i = 0; i < group.members.length; i++){ %>
                                    <% if(group.saturday[i] == true) { %>
                                      <% saturdayTrue ++  %>
                                        <% } else if(group.saturday[i] == false) { %>
                                          <% saturdayFalse ++ %>
                                      <% } %>
                                    <% } %>
                                      <% if(saturdayTrue == group.maxMembers) { %>
                                        <th bgcolor="#D4AF37" class="text-center">Max Avaliable</th>
                                          <% } else if(saturdayTrue >= group.minMembers){ %>
                                            <th bgcolor="#42f548" class="text-center">Avaliable</th>
                                        <% } else { %>
                                            <th bgcolor="#ff5757" class="text-center">Not avaliable</th>
                                        <% } %>
          </tr>
        </table>

        <% if(currentUser._id == group.userId){ %>
        <p class="text-center"><a href="/group/<%=group.id;%>/edit "><button class="btn btn-info">Edit group</button></a></p>
            <form action="/group/<%=group.id; %>?_method=DELETE" method="POST">
              <p class="text-center"><form>
                <input class="btn btn-info" type="submit" value="Delete group"/>
              </form>
          <% } %>

<%-include('../partials/footer.ejs') %>
</div>
