<%-include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="playlistShowContainer">
        <h1> <%=user.username; %>'s Profile Page </h1>
        <table border='1' cellspacing='0'>
          <tr>
            <th><%=user.username; %>'s Schedule</th>
          </tr>
          <tr>
            <th>Days of the week</th>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
          </tr>
          <tr>
            <th>Avaliablity</th>
            <% if(user.sunday == true) { %>
               <th>Yes</th>
            <%  } else { %>
               <th>No</th>
             <% } %>
             <% if(user.monday == true) { %>
               <th>Yes</th>
            <%  } else { %>
               <th>No</th>
              <% } %>
              <% if(user.tuesday == true) { %>
                <th>Yes</th>
             <%  } else { %>
                <th>No</th>
               <% } %>
               <% if(user.wednesday == true) { %>
                 <th>Yes</th>
              <%  } else { %>
                 <th>No</th>
                <% } %>
                <% if(user.thursday == true) { %>
                  <th>Yes</th>
               <%  } else { %>
                  <th>No</th>
                 <% } %>
                 <% if(user.friday == true) { %>
                   <th>Yes</th>
                <%  } else { %>
                   <th>No</th>
                  <% } %>
                  <% if(user.saturday == true) { %>
                    <th>Yes</th>
                 <%  } else { %>
                    <th>No</th>
                   <% } %>
          </tr>
        </table>

        <p><a href="/users/<%=user.id;%>/edit "><button class="btnBackground">Edit Schedule</button></a></p>
<%-include('../partials/footer.ejs') %>
</div>
